{% extends "base.html" %}
{% block body %}
 <div class="row col-md justify-content-center"><h3>NFT</h3></div>
  <div class="row">
    <div class="col-md">
      <div class="card card-body">
        <form method="POST"style="margin: left; width: 220px; text-align: left;">
          <div>
            <label>Enter an Address: <input type="text" name="address"></label>
          </div>
          <input type="submit" value="Submit">
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
